<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
       					http://www.springframework.org/schema/context/spring-context.xsd">

	 <!-- Spring自动搜索dao,service包及其子包下的java类，
          对标注了@Component @Controller @Service @Repository的类注册成Spring bean-->
    <context:component-scan base-package="dao,service"></context:component-scan>
</beans>
