<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/人工智能-课程实验/实验一-N皇后/com/donghe/dimensions/main/TestQueen.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.donghe.dimensions.main.TestQueen"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="人工智能-课程实验"/>
</launchConfiguration>
